<app-navbar></app-navbar>

<div class="dashboard">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Dashboard</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="stats">
        <mat-card class="stat-card">
          <mat-card-header>
            <mat-card-title>Membros</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Total de Membros: {{ membros.length }}</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="stat-card">
          <mat-card-header>
            <mat-card-title>Ministérios</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Total de Ministérios: {{ ministerios.length }}</p>
          </mat-card-content>
        </mat-card>

        
</div>